
        .header-row {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
            margin: 28px auto 20px;
            max-width: 1200px;
            padding: 0 16px
            ;
        }

        .header-row img {
            width: 220px;
            max-width: 100%;
            border-radius: 0px;
            
        }

        .header-row header {
            flex: 1 1 340px;
            min-width: 280px;
            text-align: center;
        }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    ;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 700px;
}



.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: #f06b19;
    text-decoration: none;
    text-align:justify;
    font-size: 30px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #71008e;
}

        .nav ul
        {
            display: flex;
            justify-content: space-between;
            align-items: space-between;
            background-color: #f06b19;
            color: #f06b19;
            padding: 40px 0;
            border-radius: 0px;
            list-style-type:none;
            margin: 20px auto;
            max-width: 700px;
        }

        .gallery-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            max-width: 1200px;
            margin: 20px auto;
            padding: 0 10px;
        }

        .zdjecie-box {
            flex: 1 1 calc(25% - 20px);
            min-width: 220px;
            max-width: 300px;
        }

        .zdjecie-box img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 0px;

            src: url(https://pbs.twimg.com/media/GfPWkJ5XgAA99Yj.jpg);
        }


        